@model SistemaDP.Models.Salarios

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Salarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="cargo_original" class="control-label"></label>
                <input asp-for="cargo_original" class="form-control" />
                <span asp-validation-for="cargo_original" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cargo_atual" class="control-label"></label>
                <input asp-for="cargo_atual" class="form-control" />
                <span asp-validation-for="cargo_atual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salario_original" class="control-label"></label>
                <input asp-for="salario_original" class="form-control" />
                <span asp-validation-for="salario_original" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salario_atual" class="control-label"></label>
                <input asp-for="salario_atual" class="form-control" />
                <span asp-validation-for="salario_atual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_modificao" class="control-label"></label>
                <input asp-for="data_modificao" class="form-control" />
                <span asp-validation-for="data_modificao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
